html{
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
}

body{
  width: 100%;
  min-height:100%;
  padding-top:76px;
}

.container{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

/*=================le jumbotron=================*/
.jumbotron {
 margin-bottom: 0px;
 height: 300px;
 color: Black;
 text-shadow: black 0.3em 0.3em 0.3em;
 background:transparent;
}

.bg-cover{
  background-image: url('../img/campus-moulin-leblanc.jpg');
  background-size: cover;
  background-position: center;
}

/*=================le parallax=============*/
.parallax-window {
    min-height: 300px;
    background: transparent;
}

/*=================les coordonnées=============*/

h2{
  text-decoration: underline;
  color:#AD171A;
  text-align: center;
  margin-top: 10px;
}

.map-responsive{
padding-bottom:56.25%;
position:relative;>
}

.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.global{
  min-height: calc(100vh - 150px);
}

.row{
  max-width: 100% !important;
  margin-right:0;
  margin-left:0;
}

div .row{
  margin-left: 0;
  margin-right: 0;
}
footer{
  padding-left: 0;
  padding-right: 0;
  margin-right:0;
  margin-left: 0;
}

a i {
  color: black;
}

a i:hover {
  color: #608DEC;
}
