footer{
  color:black;
}
footer .une {
  height: 190px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  line-height: 30px;
  align-items: center;
}

.taille {
  height: 75px;
  text-align: center;
}

footer .deux {
  text-align: center;
}
footer li{
    list-style: none;
}
footer a {
  color: black;
}

footer a:hover {
  color: #D00106;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  footer .une {
    display: flex;
    flex-direction: column;
    height: 420px;
    text-align: center;
  }
}
