* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: Arial;
}

div {

}
.carousel {
    width: 100%;
}

.carousel img {
    height: 600px;
}

canvas {
    width: 100%;
}

.container-fluid {
    padding-bottom: 30px;

    align-items: center;
    padding-right: 0;
    padding-left: 0;

}

.container {
    padding-bottom: 30px;
}

.card {
    max-width: 200px;
}


.parallax-window {
    min-height: 200px;
    background: transparent;
    width: 100%;
}

.global{
  min-height: calc(100vh - 150px);
}

.row{
  min-width: 100%;
}

a i {
  color: black;
}

a i:hover {
  color: #608DEC;
}
